@font-face {
	font-family: "11S0BLT";
	src: url('11S0BLT.ttf');
}



body 
{
font-family:'11S0BLT';
background-image: url("Photo/images.jpg");
background-repeat: no-repeat;
background-size: cover;
color: white;
}

.tof
{
float:right;
width: 150px; height: 150px;
border-radius: 10px 20px;
box-shadow: 5px 2px 2px green;

}

.info
{
border: 1px outset grey;
width: 220px;
box-shadow: 5px 2px 2px green;
}
.info:hover
{
	background-color:grey;
}

.titre 
{	margin-top: -1%;
	margin-left: 35%;
	border: 2px outset grey;
	border-radius: 5px 8px;
 	text-align: center;
 	max-width: 30%;
}

.titre:hover 
{
  
  background-color:green;

}

.p2
{
	margin-left: 35%;
	text-align: center;
 	max-width: 30%;
}

.p2:hover
{
	background-color:grey;
}

ul
{
	margin-left: 45%;
	
 	max-width: 30%;
}

ul:hover
{
	background-color:grey;
	width: 8%;
}